.root {
  width: "100%";
}

.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}

.container {
  color: #e4d3bf;
}

.backButton {
  margin-right: 1;
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.selectionButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.singleButton {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.outerContainer {
	width: 1000px;
	display: flex;
	margin: auto;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 50px;
}

.image {
  margin-top: 10px;
  margin-bottom: 10px;
}
.rowContainer {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.smallCard {
  width: 480px;
  background-color: #e4dace;
  border-color: #e4d3bf;
}

.bigCard {
  width: 100%;
  background-color: #e4dace;
  border-color: #e4d3bf;
  line-height: 1.0;
}

.button {
  margin-bottom : 10px;
}

.averageCostInnerInfo {
  height: 40%;
}

.averageCostInnerInfo {
  padding-left: 20px;
}

.averageCostInnerPrice {
  font-size: 2rem;
  text-align: center;
  margin-top: 40px;
}

.personInfo {
  width: 100%;
  justify-content: center;
}

.briefTextDisplay {
  height: 300px;
  background-color: #e7dfd6;
  border-color: #e7dfd6;
  padding-left: 10px;
  margin-bottom: 10px;
  white-space: pre-line;
  resize: none;
}

.briefTextDisplay:focus {
	background-color: #e7dfd6;
	box-shadow: none;
  white-space: pre-line;

}

.briefTextEdit {
  height: 300px;
  background-color: #eee9e2;
  border-color: #eee9e2;
  padding-left: 10px;
  margin-bottom: 10px;
  white-space: pre-line;
  resize: none;
}

.briefTextEdit:focus {
	background-color: #eee9e2;
	box-shadow: none;
  white-space: pre-line;

}

.logoutIcon {
	float: right;
	margin-right: 10px;
}

.logoutIcon:hover {
	cursor: pointer;
}

.personInfo {
  text-align: center;
}

.personInfo > p {
	margin-bottom: 5px;
}

.personInfo > h6 {
	margin-bottom: 5px;
}

.text {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}