html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #EAE7DC;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* To override bootstrap for nav-link */
.nav-link.active {
  background-color: #c29d71 !important;
}

.nav-link {
  color: #8e8d8a;
}

.nav-link:hover {
  background-color: #e2cbb0;
  color: white;
}

/* Material UI */
.MuiPaper-root {
  background-color: #eae7dc !important;
}
