.mainContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1000px 1fr;
	margin-top: 100px;
	margin-bottom: 100px;
}

.outerContainer {
	width: 1000px;
	display: flex;
	margin: auto;
	flex-direction: column;
}

.rowContainer {
	width: 100%;
	height: 450px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.smallCard {
	width: 480px;
	background-color: #e4dace;
	border-color: #e4d3bf;
}

.bigCard {
	width: 100%;
	background-color: #e4dace;
	border-color: #e4d3bf;
}

.averageCostInnerInfo {
	height: 40%;
}

.averageCostInnerInfo {
	padding-left: 20px;
}

.averageCostInnerPrice {
	font-size: 2rem;
	text-align: center;
	margin-top: 40px;
}

.mapContainer {
	width: 100%;
	height: 70%;
}

/* Vertical Nav styling */
.navbarContainer {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	padding-right: 20px;
}
