.mainContainer {
	display: flex;
	width: 100%;
	justify-content: center;
}

.loginContainer {
	width: 400px;
	height: 700px;
	border-radius: 5px;
	background-color: #e4dace;
	position: absolute;
	top: 50%;
	margin-top: -360px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	box-shadow: 5px 5px 14px -2px #91785c;
}

.logoContainer {
	height: 200px;
	width: 100%;
	text-align: center;
	padding-top: 100px;
	font-size: large;
	font-weight: 500;
}

.inputContainer {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.radioContainer {
	display: flex;
	justify-content: center;
}

.radioLabel {
	margin-right: 20px;
}

.radio {
	margin-left: 10px;
	margin-top: -1px;
	vertical-align: middle;
}

.warningContainer {
	height: 20px;
}

.warning {
	font-size: 0.8rem;
	color: red;
	text-align: center;
}

.loginInput {
	width: 70%;
	height: 40px;
	align-self: center;
	background-color: #f0dfc6;
	border: solid 2px #c9b18a;
	border-radius: 3px;
	transition-duration: 0.2s;
	margin-bottom: 10px;
}

.loginInput:focus {
	outline: none;
	box-shadow: 0 0 0 1px #b3986e;
	transition-duration: 0.2s;
}

.buttonContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.loginButton {
	width: 200px;
	height: 50px;
	align-self: center;
	font-size: large;
	background-color: #ddccae;
	color: grey;
	border-radius: 30px;
	border: 2px solid #d8be92;
	transition-duration: 0.4s;
}

.loginButton:hover {
	background-color: #d3b683;
	transition-duration: 0.4s;
}

.registerContainer {
	text-align: center;
}