.formContainer {
	width: 900px;
	margin: auto;
	margin-bottom: 50px;
}

.formEntry {
	margin-bottom: 10px;
}

.genLawResult {
	font-size: 1.2rem;
	margin-left: 20px;
	font-weight: 500;
	color: rgb(245, 87, 87);
}